<form [formGroup]="registerForm">
  <img
    src="../../../../assets/undraw_relaunch_day_902d.svg"
    alt="Imagen noche"
  />
  <h1>Registro de usuario</h1>
  <input placeholder="Ingresa tu nombre" formControlName="name" name="" id="" />
  @if (name.invalid && (name.dirty || name.touched)) {
    <p class="text_error">Ingresa tu nombre</p>
  }
  <input placeholder="Ingresa tu email" formControlName="email" name="" id="" />
  @if (email.invalid && (email.dirty || email.touched)) {
    <p class="text_error">Ingresa un correo electronico valido</p>
  }
  <input
    placeholder="Ingresa tu clave"
    formControlName="password"
    name=""
    id=""
    type="password"
  />
  @if (password.invalid && (password.dirty || password.touched)) {
    <p class="text_error">Ingresa tu contraseña</p>
  }
  <input (click)="register()" class="button" type="button" value="Registrate" />
</form>
